s3_bucket_name: spinnaker-configs
root_folder: front50
access_key: xxx
secret_key: xxxx
enable_docker_reg: "true"
docker_regs: 
    one:
        provider: aws
        name: ecr-registry
        address: https://xxxx.dkr.ecr.us-west-2.amazonaws.com
        region: us-west-2
    two:
        provider: "docker"
        name: "docker-reg"
        address: "https://index.docker.io"
        username: "example"
        password: "p@ssw0rd"
docker_primary_account: ecr-registry
enable_kubernetes: "true"
kubernetes:
    one:
        name: xxxxx
        environment: dev,stage
        providerVersion: V2
        default_docker_reg: ecr-registry
        context: xxxxx
        configureImagePullSecrets: "true"
        omitnamespaces: ["kube-system"]
        kubeconfigFile: "/home/ubuntu/.kube/config"
        onlyspinnakermanaged: "true"
k8s_primary_account: xxxxx
slack:
    enable: "true"
    botname: xxxx-bot
    token: xoxb-3xxx
prometheus:
    enable: "true"
overridebaseUrl: "http://spinnaker.example.com"
oauth2:
    enable: "true"
    clientid: xxxx
    clientsecret: xxxxx
authz:
    enable: "true"
    roleprovidertype: GITHUB
    accesstoken: xxx
    organization: xxxx
enable_s3_artifacts: "true"
s3_artifacts:
    one:
        name: helm-artifacts
        awsaccesskeyid: xxx
        awssecretaccesskey: xxxx
        region: us-west-2
    # two:
    #     name: test2
    #     awsaccesskeyid: asdfa
    #     awssecretaccesskey: asdf1234aaa
    #     region: us-west-2